body {
  padding: 0;
  margin: 0;
}

.center {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(195, 193, 193);
}
.container {
  width: 800px;
  height: 500px;
  padding: 40px 0;
  position: relative;
}
.block {
  height: 100%;
  border-radius: 25px;
  background-color: #c9a66b;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.block_item {
  text-align: center;
  width: 50%;
}
.block-item_title {
  font-size: 18px;
  font-weight: 530;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.block-item_btn {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.form-box {
  background-color: #ebdcb2;
  height: 100%;
  border-radius: 20px;
  width: 50%;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.form-box.active .form_signin {
  left: -100%;
}
.form-box.active .form_signup {
  left: 0;
}

.form-box.active {
  left: 50%;
}
.registr {
  display: none;
}
.form {
  width: 100%;
  padding: 50px;
  font-size: 16px;
  position: absolute;
  transition: 1s;
}
.form_signin {
  left: 0;
}
.form_signup {
  left: 100%;
}

.form_input {
  width: 60%;
  padding: 10px;
  border: solid 1px #333;
  font-size: inherit;
}
.form_btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  background-color: #03a9f4;
  color: #fff;
  border-radius: 4px;
  padding: 10px 50px;
}
.form_forgot {
  color: #333;
  text-decoration: none;
}
.zareg {
  display: none;
  font-size: 28px;
  font-weight: 400;
}
.vhod {
  display: none;
  font-size: 28px;
  font-weight: 400;
  color: rgb(19, 93, 212);
}
